<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProductHunt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C61756221F3CF47D00D3897A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C61756391F3CF47E00D3897A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C61756441F3CF47E00D3897A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
